<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="titlePageAdmin" value="Creation D'un Utilisateur"/>
        </h1>
        <h:form id="creationUserForm" >
            <table>
                 <tr>
                    <td> <h:outputLabel id="idType" value="Type"/></td>
                    <td> <h:inputText 
                            id="idTypeText" 
                            value="#{ajoutUserBean.typeDeUser}" 
                            required="true" 
                            requiredMessage=" Valeur rquise !" />
                        <h:message for="creationUserForm:idTypeText" errorClass="text-error"/>
                    </td>
                </tr>

                 <tr>
                    <td><h:outputLabel id="idUser" value="idUser"/></td>
                    <td>                      
                        <h:inputText 
                            id="idUserText" 
                            value="#{ajoutUserBean.idUser}" 
                            required="true" 
                            requiredMessage=" Valeur rquise !" />
                        <h:message for="creationUserForm:idUserText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>

                    <td><h:outputLabel id="nomUser" value="Nom"/></td>
                    <td> <h:inputText 
                            id="nomInputText" 
                            value="#{ajoutUserBean.nom}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:nomInputText" errorClass="text-error"/>
                    </td>
                </tr>


                <tr>
                    <td><h:outputLabel id="prenomUser" value="prenom"/></td>
                    <td> <h:inputText 
                            id="prenomInputText" 
                            value="#{ajoutUserBean.prenom}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:prenomInputText" errorClass="text-error"/>
                    </td>
                </tr>

                <tr>
                    <td><h:outputLabel id="emailUser" value="email"/></td>
                    <td> <h:inputText 
                            id="emailInputText" 
                            value="#{ajoutUserBean.email}" 
                            
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:emailInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="photoUser" value="photo"/></td>
                    <td> <h:inputText 
                            id="photoInputText" 
                            value="#{ajoutUserBean.photo}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:photoInputText" errorClass="text-error"/>
                    </td>
                </tr>
                    
                
                 <tr>
                    <td><h:outputLabel id="loginUser" value="login   "/></td>
                    <td> <h:inputText 
                            id="loginInputText" 
                            value="#{ajoutUserBean.login}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:loginInputText" errorClass="text-error"/>
                    </td>
                  
                </tr>
                
                 <tr>
                    <td><h:outputLabel id="passwordUser" value="password  "/></td>
                    <td> <h:inputText 
                            id="passwordInputText" 
                            value="#{ajoutUserBean.password}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:passwordInputText" errorClass="text-error"/>
                    </td>
                  
                </tr>
                
                <tr>
                    <td><h:outputLabel id="libelleAdresseUser" value="Adresse   "/></td>
                    <td> <h:inputText 
                            id="libelleAdresseInputText" 
                            value="#{ajoutUserBean.libelle}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:libelleAdresseInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                  
                    <td><h:outputLabel id="codePostalAdresseUser" value="Code Postal   "/></td>
                    <td> <h:inputText 
                            id="codePostalAdresseInputText" 
                            value="#{ajoutUserBean.codePostal}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:codePostalAdresseInputText" errorClass="text-error"/>
                    </td>
                  
                </tr>
               
                 <tr>
                    <td><h:outputLabel id="villeUser" value="ville"/></td>
                    <td> <h:inputText 
                            id="villeInputText" 
                            value="#{ajoutUserBean.ville}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="creationUserForm:villeInputText" errorClass="text-error"/>
                    </td>
                  
                </tr>
              
                <tr>
                    <td><h:commandButton id="validerButton" value="Valider" action="#{ajoutUserBean.verifAjoutUser}"/></td>
                </tr>
            </table>

        </h:form>


    </ui:define>
</ui:composition>



    

 