<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="titlePageAdmin" value="Liste des Etudiants "/>
        </h1>
    
       
       <h:form id="listeEtudiantForm" >
           <h:dataTable id ="listeEtudiant" var="etudiant" value="#{listeUsersBean.dataModel3}" border="1">
               <h:column id="idUserColumn">
                   <f:facet name="header">
                       <h:outputText id="idUserText" value="User"/>
                   </f:facet>
                   <h:outputText id="idUserValue" value="#{etudiant.idUser}"/>
               </h:column>
                <h:column id="nomColumn">
                   <f:facet name="header">
                       <h:outputText id="nomText" value="nom"/>
                   </f:facet>
                    <h:outputText id="nomValue" value="#{etudiant.nom}"/>
               </h:column>
                <h:column id="prenomColumn">
                   <f:facet name="header">
                       <h:outputText id="prenomText" value="prenom"/>
                   </f:facet>
                   <h:outputText id="prenomValue" value="#{etudiant.prenom}"/>
               </h:column>
               <h:column id="emailColumn">
                   <f:facet name="header">
                       <h:outputText id="emailText" value="email"/>
                   </f:facet>
                   <h:outputText id="mailValue" value="#{etudiant.email}"/>
               </h:column>
               <h:column id="photoColumn">
                   <f:facet name="header">
                       <h:outputText id="photoText" value="photo"/>
                   </f:facet>
                   <h:outputText id="photoValue" value="#{etudiant.photo}"/>
               </h:column>
               
                <h:column id="adresseColumn">
                   <f:facet name="header">
                       <h:outputText id="adresseText" value="adresse"/>
                   </f:facet>
                   <h:outputText id="adresseValue" value="#{etudiant.libelle}"/>
               </h:column> 
                 <h:column id="promotionColumn">
                   <f:facet name="header">
                       <h:outputText id="promotionText" value="promotion"/>
                   </f:facet>
                   <h:outputText id="promotionValue" value="#{etudiant.idPromotion}"/>
               </h:column> 
                <h:column>
               <h:commandLink  id="suppressition"  value="supprimer"  action ="#{SupprimerUserBean.deleteUser}"/>
               </h:column>
           </h:dataTable>
     </h:form>
    </ui:define>
</ui:composition>
