<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="titlePageAdmin" value="Liste des Utilisateurs"/>
        </h1>
    
       
       <h:form id="listeUserForm" >
           <h:dataTable id ="listeUsers" var="user" value="#{listeUsersBean.dataModel4}" border="1">
               <h:column id="idUserColumn">
                   <f:facet name="header">
                       <h:outputText id="idUserText" value="User"/>
                   </f:facet>
                   <h:outputText id="idUserValue" value="#{user.idUser}"/>
               </h:column>
                <h:column id="nomColumn">
                   <f:facet name="header">
                       <h:outputText id="nomText" value="nom"/>
                   </f:facet>
                   <h:outputText id="nomValue" value="#{user.nom}"/>
               </h:column>
                <h:column id="prenomColumn">
                   <f:facet name="header">
                       <h:outputText id="prenomText" value="prenom"/>
                   </f:facet>
                   <h:outputText id="prenomValue" value="#{user.prenom}"/>
               </h:column>
               <h:column id="emailColumn">
                   <f:facet name="header">
                       <h:outputText id="emailText" value="email"/>
                   </f:facet>
                   <h:outputText id="mailValue" value="#{user.email}"/>
               </h:column>
               <h:column id="photoColumn">
                   <f:facet name="header">
                       <h:outputText id="photoText" value="photo"/>
                   </f:facet>
                   <h:outputText id="photoValue" value="#{user.photo}"/>
               </h:column>
                   <h:column>
               <h:commandLink  id="suppressition"  value="supprimer"  action ="#{SupprimerUserBean.deleteUser}"/>
               </h:column> 
           </h:dataTable>
     </h:form>
    </ui:define>
</ui:composition>
