<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="/IHM/templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="titlePageAdmin" value="Espace Administrateur"/>
        </h1>
        <h:form id="menuAdministrateurForm">
            <table>

                <tr>  
                    <td><h:commandButton id="gestionUser"  value="Gestion des Users" /></td>
                 </tr>
                          
                   <td>  <label for ="_id0">
                                <input type="radio" name="_id0" value=" id_ajouterunUser">ajouter un User </input></label></td>                            
                                 <td><h:commandButton id="validerButton"  value="Valider"  action="ajoutUserOk"/></td>
                                 <tr> <td>  <label for ="_id0">
                                <input type="radio" name="_id0" value=" id_listeUser">liste User </input></label></td>                            
                                 <td><h:commandButton id="validerButton5"  value="Valider"  action="listeUserOk"/></td>
                                 </tr>
                <tr>
                    <td><label for ="_id0">
                            <input type="radio" name="_id0" value="id_ConsulterListeAdmin">Consulter/Supprimer/Modifier Listes Admin</input>
                               <td><h:commandButton id="validerButton2"  value="Valider"  action="listeAdminOk"/></td>
                      
               
                     </label></td> 
                </tr>   
                      <tr>
                    <td><label for ="_id0">
                           <input type="radio" name="_id0" value="id_ConsulterListeEtudiant">Consulter/Supprimer/Modifier Listes Etudiant</input>
                           <td><h:commandButton id="validerButton3"  value="Valider"  action="listeEtudiantOk"/></td>
                           
                         </label></td> 
                </tr>       
                      <tr>
                    <td><label for ="_id0"> 
                             <input type="radio" name="_id0" value="id_ConsulterListeEnseignant">Consulter/Modifier Listes Enseignant</input>
                              <td><h:commandButton id="validerButton4"  value="Valider"  action="listeEnseignantOk"/></td>
                  
                              
                      </label></td> 
                </tr>               
                              
               
                <tr>
                    <td><h:commandButton id="gestionCours"  value="Gestion des Cours" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionMatiere"  value="Gestion des Matieres" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionAbsence"  value="Gestion Des Absences" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionPromotion"  value="Gestion Des Promotions" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionListe"  value="Gestion Des Listes" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionSession"  value="Gestion Des Sessions" /></td>
                </tr>
                <tr>
                    <td><h:commandButton id="gestionAffectationMatiere"  value="Gestion Affectation des Matieres" /></td>
               
                    
                
                </tr>
                                 
            </table>
            
            
           
           
        </h:form>
        
    </ui:define>
    
        
</ui:composition>