<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="titlePageAdmin" value=" Espace Administrateur "/>
        </h2>

        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/IHM/globale.js" >
        </script>

        <h:form id="menuAdministrateurForm">
            <table>

                <tr>  
                    <td><h:outputText id="gestionUser"  value="Gestion des Users" /></td> 
                </tr>
                <tr> 
                    <td><h:outputText id="consultationDesListesText" value="Consultation de listes  "/></td>
                </tr>
                <tr>
                    <td><h:selectOneRadio value="#{listeUsersBean.typeUser}"></td></tr>
                            <td<f:selectItem itemValue="ADM" itemLabel="Administrateur  " />
                            <f:selectItem itemValue="ETU" itemLabel="Etudiant  "/>
                            <f:selectItem itemValue="ENS" itemLabel="Enseignant  "/>
                            <f:param name="typeUser" value="itemValue"/>
                        </h:selectOneRadio>
                    </td>
                </tr>
                <tr>
                    <td><h:commandButton  type="submit" id="validerButton"  value="Valider" onclick="verifchoix(this.form);" /></td>
                </tr>

                <tr>
                    <td><h:commandLink id="gestionCours"  value="Gestion des Cours"  /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionMatiere"  value="Gestion des Matieres" /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionAbsence"  value="Gestion Des Absences" /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionPromotion"  value="Gestion Des Promotions" /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionListe"  value="Gestion Des Listes" /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionSession"  value="Gestion Des Sessions" /></td>
                </tr>
                <tr>
                    <td><h:commandLink id="gestionAffectationMatiere"  value="Gestion Affectation des Matieres" /></td>
                </tr>

            </table>
        </h:form>
    </ui:define>
    
    <script>
        function verifchoix(menuAdministrateurForm)
{
if(document.getElementById("menuAdministrateurForm:ADM").value == ""){
alert('veuillez choisir un boutton \!\!');}
else if(document.getElementById("menuAdministrateurForm:ETU").value=="id_ConsulterListeUser"){
    return"liste";}
else if(document.getElementById("menuAdministrateurForm:ENS").value=="id_ajouterunUser"){
    return"ajoutUserOk";}
else    
Form.submit(); 
}
    </script>

</ui:composition>

                    