<ui:composition template="/IHM/templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    
    
     <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="titlePageAdmin" value="Espace Etudiant"/>
        </h2>
        <h:form id="menuEtudiantForm">
            <table>
                <tr>  
                    <td><h:commandButton id="consultationListeCours"  value="consultation Liste Cours" /></td>
                </tr> 
                <tr>  
                    <td><h:commandButton id="consultationListeAbsences"   value="consultation Liste Absences" /></td>
                </tr> 
                <tr>  
                    <td><h:commandButton id="consultationListePromotion"   value="consultationListePromotion" /></td>
                </tr>
            </table>
        </h:form>
    </ui:define>
    
</ui:composition>