
<ui:composition template="/IHM/templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="titlePageAdmin" value="Espace Enseignant"/>
        </h2>
        <h:form id="menuEnseignantForm">
            <table>
                <tr>  
                    <td><h:commandButton id="uploadCours"  value="Upload des Cours" /></td>
                </tr> 
                <tr>  
                    <td><h:commandButton id="saisieAbsenceEtudiants"   value="Saisie Absences Etudiants" /></td>
                </tr> 
                <tr>  
                    <td><h:commandButton id="consultationDesListes"   value="Consulter Liste" /></td>

                    <td><label for ="_id1">
                            <input type="radio" name="_id1" value="id_ListePromotion">Liste De Promotion</input></label></td>
                    <td><label for ="_id1">
                            <input type="radio" name="_id1" value="id_ListeAbsences">Liste De Absences</input></label></td>
                    <td><label for ="_id1">
                            <input type="radio" name="_id1" value="id_ListeCours">Liste de Cours</input></label></td>        

                </tr> 

                <td><h:commandButton id="validerButton"  value="Valider" /></td>


            </table>
        </h:form>
    </ui:define>
</ui:composition>      