<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition template="templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="titlePageAdmin" value="Suppression  D'un Utilisateur"/>
        </h1>
        <h:dataTable id ="listeUsers" var="user" value="#{SupprimerUserBean.datamodel}" border="1">
        <h:form id="suppretionUserForm" >
               <table>
                 <tr>
                    <td> <h:outputLabel id="idEmail" value="email"/></td>
                    <td> <h:inputText 
                            id="idEmailText" 
                            value="#{ajoutUserBean.typeDeUser}" 
                            required="true" 
                            requiredMessage=" Valeur rquise !" />
                        <h:message for="creationUserForm:idEmailText" errorClass="text-error"/>
                    </td>
                </tr>
               
               </table>
            
            
            
           </h:form>
            </h:dataTable>
            
        
        </ui:define>      
            
</ui:composition>
       
            
            
            
            
            
       