<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <head>
        <f:loadBundle basename="messages.Messages" var="mess" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

        <title><ui:insert name="title" >##Please specify title !##</ui:insert></title>
        <style type="text/css" title="currentStyle" media="screen">
            @import url('${facesContext.externalContext.requestContextPath}/bootstrap/css/bootstrap.min.css')
        </style>
        <style type="text/css">
            body {
                padding-top: 75px;
            
            }
        </style>       
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="" href="#"><h:outputText value="#{mess['application.title']}" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="text-info"><a href="${facesContext.externalContext.requestContextPath}/index.jsf">Home</a></li> 
                            <ui:fragment rendered="#{!empty authentificationBean.login}">
                                <li class="active"><h:outputText value="#{mess['navbarEecole.helloUser']}" /> #{authentificationBean.login} <h:form ><h:commandLink id="disconnectLink" value="Se déconnecter" action="#{authentificationBean.disconnect}"/></h:form></li>
                            </ui:fragment>                      
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ui:insert name="content">
                ##Missing content##
            </ui:insert>
           
        </div>
    </body>
</html>
