
<ui:composition template="/IHM/templateAccueil.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    

    <ui:define name="title">
        e-Ecole
    </ui:define>
    <ui:define name="content">
        <h1>
            <h:outputText id="welcomePageTitle" value="Bienvenue sur l'application e-Ecole"/>
        </h1>
        <p>Veuillez vous identifier ...</p>
           
        <h:form id="authentificationForm">
            <table>
                <tr>
                    <td><h:outputLabel id="loginLabel" value="Login "/></td>
                    <td> <h:inputText 
                            id="loginInputText" 
                            value="#{authentificationBean.login}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="loginForm:loginInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td><h:outputLabel id="passwordLabel" value="Mot de passe "/></td>
                    <td><h:inputSecret 
                            id="passwordInputText" 
                            value="#{authentificationBean.password}" 
                            required="true" 
                            requiredMessage=" Valeur requise !" />
                        <h:message for="authentificationForm:passwordInputText" errorClass="text-error"/>
                    </td>
                </tr>
                <tr>
                    <td>&#160;</td>
                    <td>
                        <h:commandButton id="validerButton" value="Valider" action="#{authentificationBean.authentificate}"/>
                    </td>
                </tr>
            </table>
        </h:form> 
        
    </ui:define>
    
</ui:composition>
